<main>
<section class="mainp" id="mp1">

<div class="container col-xl-10 col-xxl-8 mainc">
    <div class="row align-items-center g-lg-5 py-5 mainph">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1">CarShare</h1>
        <p class="col-lg-10 fs-4"> Votre platforme qui vous aide a trouver votre transport 100% ecologique pour tout vos deplacememt dans la journée avec des economies</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary">

        <h1 class="fw-bold" style="color: #0D6EFD; text-transform: capitalize;">Se connecter</h1>
       

      <div class="input-group mb-3">
        <input type="email" class="form-control" placeholder="Votre mail" aria-label="Username" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <input type="password" class="form-control" placeholder="Votre mot de passe" aria-label="Username" aria-describedby="basic-addon1">
      </div>

      
      
      <button class="fw-bold btn btn-sm  btn-primary " type="submit">S'INSCRIRE</button>


          <hr class="my-4">
          <small class="text-body-secondary">Vous n'avez pas encore de compte <a class="fw-bold" href="#"> S'inscrire</a> </small>
        </form>
      </div>
    </div>
  </div>


</section>



</main>