<main>
<section class="mainp" id="mp1">

<div class="container col-xl-10 col-xxl-8 mainc">
    <div class="align-items-center g-lg-5 py-5 mainph">
      <div class="text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1">CarShare</h1>
        <p class="col-lg-10 fs-4"> Votre platforme qui vous aide a trouver votre transport 100% ecologique pour tout vos deplacememt dans la journée avec des economies</p>
      </div>

      <div class="btvw">
      
      <div class="">
      <a  href="/login"><button class="fw-bold btn btn-lg  btn-primary ">Se connecter</button></a>

      </div>

      <div class="">
      <a  href="/register"><button class="fw-bold btn btn-lg  btn-primary ">S'inscrire</button></a>
      </div>
      </div>



      
    </div>
  </div>


</section>



</main>