<nav class="navbar " style="background-color: #4D4D4D;">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold " style=" color: #fff; ">CarShare</a>
    <button class="fw-bold btn btn-outline-primary">Devenir Conducteur</button>
  </div>
</nav>

